<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Desarroyo con pasion aplicacciones y sitios webs para personas.</h1>
                <p>Constatemente me encuetro aprendiendo nuevas tecnolodías y desarroyando aplicaciones por placer. Esta aplicacion la cree des de cero con Python y Flask! Y quero conocer todo lo posible de este mundo.</p>
            </div>
            <div class="right padded">
                <h1>Podemos hablar de lo que quieras!</h1>
                <p>Solo enviame un correo <a class="green" href="#contacto">Pinchando aquí</a></p>
            </div>
        </div>
    </div>
</div>