<div class="center padded white-bg">
    <div class="content padded">
        <div class="padded">
            <h1>No estas convencido? Mira lo que he creado.</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Mailer app</h3>
                <p>Una aplicacion que manda correos utilizando la API de Sendgrid.</p>
                <a class="green" href="#">Link aquí</a>
            </div>

            <div class="card third">
                <h3>Calculadora de Física</h3>
                <p>Una aplicacion que realiza calculos sobre dinámica, trabajo y energia, Ondas armonicas, etc.</p>
                <a class="green" target="_blank" href="{{ url_for('static', filename='Calculadora_dinamica_1,0,2.exe') }}">Link aquí</a>
            </div>

            <div class="card third">
                <h3>Gestor de tareas</h3>
                <p>Una aplicacion para gestionar mis tareas.</p>
                <a class="green" href="#">Link aquí</a>
            </div>
        </div>
    </div>
</div>